<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>练习-品茗股份校招首页</title>
        <link rel="stylesheet" href="./css/cssReset.css">
        <link rel="stylesheet" href="./css/index.css">
    </head>
    <body>
        <!-- 页头部分 无需设计版心-->
        <header>
            <nav>
                <img src="./img/logo.png" alt="">
                <ul>
                    <li><a href="#">了解品茗</a></li>
                    <li><a href="#">校招职位</a></li>
                    <li><a href="#">校招流程</a></li>
                    <li><a href="#">快问快答</a></li>
                </ul>
            </nav>
            <div class="banner-title"><img src="./img//banner_title.png" alt=""></div>
            <div class="banner"><img src="./img/bg_banner.jpg" alt=""></div>
        </header>
        <main>
            <!-- 内容部分，需要设置版心 -->
            <div class="center">
                <!-- 了解品茗 -->
                <section class="pm-cometo">
                    <h1>了解品茗</h1>
                    <p>品茗股份，深耕工程建设信息化领域，是数字建造技术和产品提供商，国家高新技术企业和国家规划布局内重点软件企业，业务涵盖工程造价、施工软件、BIM软件、智慧工地、高等院校、行业监管、基础设施等。公司员工1000余人，研发和技术人员占比超50%，在杭州国家级软件产业研发基地及西安高新技术园区分别设有研发中心。</p>
                    <p>以科技提升建筑生产效率为目标，公司综合运用BIM、大数据、云计算、IoT、移动技术、VR/AR/MR、人工智能等新一代信息技术，结合行业积累和专业沉淀，为建筑行业提供专业的产品和解决方案，用数字化、智能化提高工程进度、质量安全、绿色施工和成本控制等方面的管理水平。参与了北京国家雪车雪橇中心、杭州萧山国际机场三期项目、2022年亚运会运动员村、深圳国际会展中心、北京大兴国际机场、卡塔尔世界杯主会场等大型项目建设，与中建股份、中国铁建、中国中铁、中国中冶、中国交建、中国水电、北京建工等各地建工集团，恒大、绿城、保利等单位保持良好合作关系。</p>
                    <p>公司持续打造“专业的品茗，技术的品茗”，拥有140多项具有核心技术的专利权及软件著作权，在BIM算法引擎技术、AI分析调度引擎、塔机安全辅助技术、数字建造中台体系关键核心技术上均取得突破，构建产品核心竞争力；取得《智能型临时支撑体系设计优化与过程监测技术》等多项科技成果；获得国际检测机构TÜV南德意志集团认证、CMMI3软件成熟度认证；主编、参编《施工升降机安全使用规程》、《智慧工地技术规程》、《塔式起重机防碰撞装置》等10多项国家、行业、地方和团体标准。</p>
                    <p>品茗股份坚持以科技赋能建筑业，持续推动建筑行业进步，在促进20多万亿体量的建筑产业升级过程中，努力成为推动建筑行业数字化转型升级的主力军！</p>
                </section>
                <!-- 品茗荣誉 -->
                <section class="pm-honor">
                    <h1>资质荣誉</h1>
                    <div>
                        <img src="./img/zz/img_zz_1.png" alt="">
                        <img src="./img/zz/img_zz_2.png" alt="">
                        <img src="./img/zz/img_zz_3.png" alt="">
                        <img src="./img/zz/img_zz_4.png" alt="">
                    </div>
                    <div class="clearfix">
                        <img src="./img/zz/img_zz_5.png" alt="">
                        <img src="./img/zz/img_zz_6.png" alt="">
                        <img src="./img/zz/img_zz_7.png" alt="">
                    </div>
                    <div class="clearfix">
                        <img src="./img/zz/img_zz_8.png" alt="">
                        <img src="./img/zz/img_zz_9.png" alt="">
                        <img src="./img/zz/img_zz_10.png" alt="">
                        <img src="./img/zz/img_zz_11.png" alt="">
                        <img src="./img/zz/img_zz_12.png" alt="">
                    </div>
                    <div>
                        <div>国家高新技术企业</div>
                        <div>国家规划布局内重点软件企业</div>
                        <div>浙江省省高新技术企业研究开发中心</div>
                        <div>AAA企业信用等级认证</div>
                        <div>国际检测机构TÜV南德意志集团认证</div>
                        <div>CMMI3软件成熟度认证</div>
                        <div>17项国家专利认证</div>
                        <div>130+项软件知识著作产权</div>
                        <div>《智能型临时支撑体系设计优化与过程监测技术》等多项科技成果</div>
                        <div>数据截至2020年12月31日</div>
                    </div>
                </section>
                <!-- 职位类型 -->
                <section class="pm-job">
                    <h1>职位类型</h1>
                    <div class="job-panel">
                        <div>
                            <div class="job-type-box">
                                <p>营销类</p>
                                <div>POSITION TYPE</div>
                            </div>
                            <div class="job-type-box">
                                <p>营销类</p>
                                <div>POSITION TYPE</div>
                            </div>
                            <div class="job-type-box">
                                <p>营销类</p>
                                <div>POSITION TYPE</div>
                            </div>
                        </div>
                        <div><button>网申入口</button></div>
                    </div>
                </section>
                <section class="pm-process"></section>
                <section class="pm-ask"></section>
            </div>
        </main>
    </body>
</html>linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 40%, rgba(255, 255, 255, 0) 100%)