<!DOCTYPE html>
<html>
  <head>
    <title>登录界面</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/cssReset.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/login.css">
  </head>
  <body>
    <div class="login-box">
      <div class="center">
        <div class="login-panel">
          <div class="login-title"></div>
          <div class="login-input"></div>
          <div class="login-btn"></div>
          <div class="login-other"></div>
        </div>
      </div>
    </div>
  </body>
</html>