<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/cssReset.css">
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/post.css">
  <title>岗位列表</title>
</head>
<body>
  <header>
    <img src="./img/banner.png" alt="">
  </header>
  <main class="post-box">
    <div class="center">
      <section>
        <h1>岗位信息</h1>
      </section>
      <section id="post-msg" class="post-list">
        <div class="post-item">
          <div class="post-title"><a href="#">软件开发-后台开发方向</a></div>
          <div class="post-detail">
            <span>技术类 | 实习生 | S1 CDG CSID PCG WXG IEG S2 TEG S3</span>
          </div>
          <div class="post-location">
            <span>工作地点：北京 深圳总部 上海 成都 杭州 广州</span>
          </div>
        </div>
      </section>
    </div>
  </main>
  <footer></footer>
</body>
</html>