<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/cssReset.css">
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/post.css">
  <title>岗位列表</title>
</head>
<body>
  <header>
    <nav class=".center">
      <ul>
          <li><a href="/index.html">了解品茗</a></li>
          <li><a href="/post.html">校招职位</a></li>
          <li><a href="#">校招流程</a></li>
          <li><a href="#">快问快答</a></li>
      </ul>
    </nav>
    <img src="./img/banner.png" alt="">
  </header>
  <main class="post-box">
    <div class="center">
      <section>
        <h1>岗位信息</h1>
      </section>
      <section id="post-msg" class="post-list">
        <div class="post-total">共10个岗位</div>
        <ul data-id="post-item-box">
          <li class="post-item">
            <div class="p_titles"><a href="#">软件开发-后台开发方向</a></div>
            <div class="p_types">
              <span>技术类 | 实习生</span>
            </div>
            <div class="p_location">
              <span>工作地点：北京 深圳总部 上海 成都 杭州 广州</span>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </main>
  <footer></footer>
  <script src="./js/post.js"></script>
</body>
</html>