/* header部分 */
body {
    background-color: #272789;
}
header .banner > img {
    display: block;
    width: 100%;
}
header .banner-title {
    position: absolute;
    top: 80px;
    left: 120px;
}
header .banner-title > img {
    display: block;
}
/* learn 品茗 */
main .pm-cometo p {
    color: #FFF;
    text-indent: 2em;
    line-height: 2em;
    margin: 2em 0;
}
/* 资质荣誉部分 */
main .pm-honor > div:nth-child(2) {
    margin-bottom: 20px;
}
main .pm-honor > div:nth-child(3) {
    /* background-color: #000; */
    float: left;
}
main .pm-honor > div:nth-child(3) img:not(:first-child){
    margin-left: -14%;
}
main .pm-honor > div:nth-child(4) img{
    float: left;
    margin-left: -12%;
}
main .pm-honor > div:nth-child(4) img:first-child {
    margin-left: -14%;
}
main .pm-honor > div:last-child {
    text-align: center;
    color: #ffc774;
    overflow: hidden;
    margin-top: 100px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0) 100%);
}
main .pm-honor > div:last-child > div {
    padding: 20px 0;
    position:relative;
}
main .pm-honor > div:last-child > div:not(:last-child)::before {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    content: "";
    clear: both;
    display: block;
    width: 352px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0) 100%);
}
/* 职位类型 */
main .pm-job .job-box > div:first-child {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0) 100%);
}
main .job-panel {
    padding: 60px 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0) 100%); 
}
main .job-panel > div {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
main .job-btn {
    display: block;
    width: 175px;
    height: 84px;
    line-height: 70px;
    text-align: center;
    background-image: url(../img/icon/bg_btn.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 24px;
    color: #FFF;
    margin: 0 auto;
    margin-top: 90px;

}
main .job-type-box {
    color: #FFF;
    width: 202px;
    height: 190px;
    border-radius: 10px;
    background-image: url(../img/bg_styleItem.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    overflow: hidden;
}
main .job-type-box > p {
    position: relative;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 13px;
    margin-top: 55px;
    margin-bottom: 10px;
    padding-bottom: 14px;
}
main .job-type-box > p::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    display: block;
    width: 117px;
    height: 3px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 40%, rgba(255, 255, 255, 0) 100%);
    clear: both;
}
/* process部分 */
.pm-process {
    position: relative;
}
.pm-process::before {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    display: block;
    width: 1111px;
    height: 1px;
    background-color: #FFF;
}
.pm-lc-box{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.pm-lc-box::before,.pm-lc-box::after {
    position: absolute;
    left: -56px;
    top:22px;
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FFF;
}
.pm-lc-box::after {
    left: initial;
    right: -56px;
}

.pm-lc-box > .pm-lc-item > .pm-lc-title {
    position: relative;
    display: block;
    width: 85px;
    height: 85px;
    margin: 0 auto;
    border-radius: 50%;
    padding-top: 14px;
    background-color: #FFF;
    box-sizing: border-box;
}

.pm-lc-box > .pm-lc-item > .pm-lc-title::before{
    content: '';
    position: absolute;
    top: -17px;
    right: -17px;
    clear: both;
    width: 116px;
    height: 116px;
    border: 3px #FFF dotted;
    border-radius: 50%;
    opacity: 0.5;
}

.pm-lc-box > .pm-lc-item > .pm-lc-title p {
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 3px;
    text-align: center;
    color: #310044;
    font-weight: bold;
}
.pm-lc-date {
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    width: 186px;
    height: 111px;
    padding-top: 25px;
    margin-top: 33px;
    box-sizing: border-box;
}
.pm-lc-date::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform:translateX(-50%);
    content: '';
    clear: both;
    display: block;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-top-color: #272789;
    border-top-width: 12px;
}
.pm-lc-date p {
    font-size: 16px;
    line-height: 1.5;
    color: #FFF;
    text-align: center;
    font-weight: bold;
}
.pm-lc-box > :nth-child(even) > .pm-lc-title {
    background-image: linear-gradient(0deg, #b17fdf 1%, #6c41ef 100%);
}
.pm-lc-box > :nth-child(even) > .pm-lc-title > p {
    color: #FFF;
}
/* 快问块答部分 */
